#################################
# VAddy sample config file
#   copy vaddy.conf.sample to vaddy.conf
#
#################################

#VAddy WebAPI Key
export VADDY_AUTH_KEY=""

#Server FQDN 
export VADDY_FQDN=""

#Verification code of your FQDN
# ex. verification file is vaddy-1234.html, verification code is 1234
export VADDY_VERIFICATION_CODE=""

#Login UserID
export VADDY_USER=""

#Your local Web Server IP address
export VADDY_YOUR_LOCAL_IP="127.0.0.1"
#Your local Web Server Port Number
export VADDY_YOUR_LOCAL_PORT="8888"


#Optional(CrawlId or Label)
export VADDY_CRAWL=""

#Optional(HTTPS proxy server for connecting VAddy WebAPI)
# "your.local.proxy.server:port" 
# ex. "127.0.0.1:8443" 
export VADDY_HTTPS_PROXY=""
